<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PDF Tools</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style_main.css') }}">
</head>
<body>
  <h1>PDF Tools</h1>
  <div class="grid-container">
    <section class="grid-item">
      <h2>Upload and Merge PDFs</h2>
      <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="files" multiple required>
        <input type="submit" value="Upload and Merge">
        <div id="progress-wrapper">
          <div id="progress-bar">0%</div>
        </div>
      </form>
    </section>
    <section class="grid-item">
      <h2>Divide (page from to)</h2>
      <!-- Content for Divide action -->
    </section>
    <section class="grid-item">
      <h2>Print</h2>
      <!-- Content for Print action -->
    </section>
    <section class="grid-item">
      <h2>Remove Page</h2>
      <!-- Content for Remove Page action -->
    </section>
    <section class="grid-item">
      <h2>Extract</h2>
      <!-- Content for Extract action -->
    </section>
    <section class="grid-item">
      <h2>Unlock PDF</h2>
      <!-- Content for Unlock PDF action -->
    </section>
    <section class="grid-item">
      <h2>Protect PDF</h2>
      <!-- Content for Protect PDF action -->
    </section>
    <section class="grid-item">
      <h2>Sign PDF</h2>
      <!-- Content for Sign PDF action -->
    </section>
    <section class="grid-item">
      <h2>Censor PDF</h2>
      <!-- Content for Censor PDF action -->
    </section>
    <section class="grid-item">
      <h2>Compare PDF</h2>
      <!-- Content for Compare PDF action -->
    </section>
  </div>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>

