<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PDF Tools</title>
  <link rel="stylesheet" href="../static/css/style_main.css">
</head>
<body>
  <h1>PDF Tools</h1>
  <div id="main-container">
    <!-- Card 1: PDF Operations -->
    <div class="card">
      <h2>PDF Operations</h2>
      <div class="card-content">
        <section class="grid-item">
          <h3>Merge PDFs</h3>
          <form id="form" action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="files" id="files" multiple required>
            <input type="submit" value="Merge">
            <div id="progress-wrapper">
              <div id="progress-bar">0%</div>
            </div>
          </form>
        </section>
        <section class="grid-item">
          <h3>Divide PDFs</h3>
          <form id="form" action="/divide" method="post" enctype="multipart/form-data">
            <input type="file" name="files" id="files" multiple required>
            <input type="submit" value="Divide">
            <div id="progress-wrapper">
              <div id="progress-bar">0%</div>
            </div>
          </form>
        </section>
        <section class="grid-item">
          <h3>Convert to PDF</h3>
          <form id="form" action="/convert" method="post" enctype="multipart/form-data">
            <input type="file" name="files" id="files" multiple required>
            <input type="submit" value="Convert">
            <div id="progress-wrapper">
              <div id="progress-bar">0%</div>
            </div>
          </form>
        </section>
      </div>
    </div>
    
    <!-- Card 2: Additional Actions -->
    <div class="card">
      <h2>Additional Actions</h2>
      <div class="card-content">
        <section class="grid-item">
          <h3>Print PDF</h3>
          <!-- Content for Print action -->
        </section>
        <section class="grid-item">
          <h3>Remove Page</h3>
          <!-- Content for Remove Page action -->
        </section>
        <section class="grid-item">
          <h3>Extract Pages</h3>
          <!-- Content for Extract action -->
        </section>
        <section class="grid-item">
          <h3>Unlock PDF</h3>
          <!-- Content for Unlock PDF action -->
        </section>
        <section class="grid-item">
          <h3>Protect PDF</h3>
          <!-- Content for Protect PDF action -->
        </section>
        <section class="grid-item">
          <h3>Sign PDF</h3>
          <!-- Content for Sign PDF action -->
        </section>
        <section class="grid-item">
          <h3>Censor PDF</h3>
          <!-- Content for Censor PDF action -->
        </section>
        <section class="grid-item">
          <h3>Compare PDFs</h3>
          <!-- Content for Compare PDF action -->
        </section>
      </div>
    </div>
  </div>
  <script src="../static/js/script.js"></script>
</body>
</html>
